@mixin placeholder()
  input::-webkit-input-placeholder
    @content
  input:-moz-placeholder
    @content
  input::-moz-placeholder
    @content
  input:-ms-input-placeholder
    @content

@font-face
    font-family: "Helvetica Neue"
    src: url('../../assets/fonts/HelveticaNeue.ttf')

@font-face
    font-family: "Cardo", serif

body
    color: white
    background-color: #3180CD

h1
    font-family: "Helvetica Neue", sans-serif
    letter-spacing: 0.15em
    font-size: 7em
    font-weight: 100
    text-align: center

h2
    font-family: "Cardo", serif
    letter-spacing: 0.1em
    font-size: 3em
    text-align: center

.center-button
    text-align: center

.right-button
    text-align: right

button
    background-color: #3180CD
    color: white

    border-color: white
    border-width: 0.03em
    border-radius: 0.4em
    border-style: solid
    padding: 0.3em 1.1em

    font-family: "Helvetica Neue", sans-serif
    letter-spacing: 0.1em
    font-size: 2.5em
    font-weight: 100

.contact-form button
    font-size: 2em
    text-align: center

p
    font-family: "Helvetica Neue", sans-serif
    font-size: 1.8em
    font-weight: 200
    letter-spacing: 0.01em
    text-align: center

.review p
    text-align: left
    font-size: 1.5em

.header
    margin-top: 15em
    margin-bottom: 10em

.bio
    margin-top: 15em
    margin-bottom: 5em

    p
        margin: 1em 0

.contact-form
    font-size: 1.2em

    input, textarea
        background-color: #3180CD
        color: white
        border-color: white
        font-family: "Helvetica Neue", sans-serif
        letter-spacing: 0.08em
        font-weight: 200

        @include placeholder()
          color: red

.availability
    margin-top: 25em
    margin-bottom: 8em

.availability .avail
    margin-top: 2em
    margin-bottom: 0.5em

.contact-form
    margin-bottom: 4em

// Tablet
@media (max-width: 992px)

// Phone
@media (max-width: 480px)
